/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

.nav__wrapper{
  display: flex;
  list-style: none;
  width: 100%;
  height: 80px;
}
.nav__left{
  width: 50%;
}
.nav__logo_wrapper{
  width: 45px;
  height: 45px;
  margin: 30px 40px;
  background-color: var(--kenzie-navy);
}
.nav__logo{
  width: 35px;
  height: 35px;
  margin: 5px;
}
.nav__right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 25px;
}
.nav__link{
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--kenzie-navy);
}
.nav__btn{
  height: 40px;
  width: 120px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 20px;
  background-color: var(--kenzie-navy);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.nav__btn:hover{
  background-color: white;
  color: var(--kenzie-navy);
  border: 2px solid var(--kenzie-navy);
}
.hero{
  width: 100%;
  height: 450px;
  background-color: grey;
  text-align: center;
}
.hero__img{
  width: 100%;
}
.hero__heading{
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding-top: 200px;
}

@media (min-width:960px){
  
}

@media (min-width: 640px){

}

